.version.season_5 /* version checker */
{
	color: #0000E6;
	background-color: #53611D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2800.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#slideshowu2966
{
	z-index: 3;
	width: 0.01px;
	height: 474px;
	left: -100px;
	margin-top: 79px;
	position: relative;
}

#u2984
{
	position: absolute;
	width: 1220px;
	height: 474px;
	background-color: transparent;
}

#u2984popup
{
	z-index: 4;
}

#u2987
{
	z-index: 5;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2985
{
	z-index: 7;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u2989
{
	z-index: 9;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2931-4
{
	z-index: 26;
	width: 789px;
	min-height: 91px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	line-height: 88px;
	font-size: 80px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 115px;
	top: -474px;
	margin-bottom: -91px;
	position: relative;
}

#u3001
{
	z-index: 11;
	width: 980px;
	border-color: #000000;
	background-color: #2866A3;
	margin-left: 20px;
	top: -74px;
	margin-bottom: -74px;
	position: relative;
}

#u3001_position_content
{
	padding-top: 24px;
	padding-bottom: 50px;
}

#u2958-4
{
	z-index: 13;
	width: 980px;
	min-height: 44px;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #5CC3D8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u2963
{
	z-index: 21;
	width: 222px;
	height: 1px;
	border-color: #000000;
	background-color: #5CC3D8;
	margin-left: 379px;
	margin-top: 15px;
	position: relative;
}

#u2950-4
{
	z-index: 22;
	width: 771px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
	margin-left: 104px;
	margin-top: 19px;
	position: relative;
}

#u2930
{
	z-index: 12;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2938
{
	z-index: 30;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3002
{
	z-index: 35;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2941-4
{
	z-index: 17;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2960-4
{
	z-index: 31;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2998-4
{
	z-index: 36;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2952
{
	z-index: 40;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2955
{
	z-index: 45;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3004
{
	z-index: 50;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2943-4
{
	z-index: 41;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2993-4
{
	z-index: 46;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2940-4
{
	z-index: 51;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2951
{
	z-index: 55;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2996
{
	z-index: 60;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2939
{
	z-index: 65;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2964-4
{
	z-index: 56;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2948-4
{
	z-index: 61;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2957-4
{
	z-index: 66;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu2952,#pu2951,#pu3005
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 34px;
}

#u3005
{
	z-index: 70;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2945
{
	z-index: 75;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2953
{
	z-index: 80;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2941-4,#pu2943-4,#pu2964-4,#pu2995-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 23px;
}

#u2995-4
{
	z-index: 71;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2946-4
{
	z-index: 76;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2937-4
{
	z-index: 81;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2992
{
	z-index: 85;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3003
{
	z-index: 90;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3000
{
	z-index: 95;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2999-4
{
	z-index: 86;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2933-4
{
	z-index: 91;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2949-4
{
	z-index: 96;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu2930,#pu2992,#pu2942
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 35px;
}

#u2942
{
	z-index: 100;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2947
{
	z-index: 105;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2965
{
	z-index: 110;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2999-4,#pu2961-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 22px;
}

#u2961-4
{
	z-index: 101;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2944-4
{
	z-index: 106;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2954-4
{
	z-index: 111;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu2959
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 75px;
}

#u2959
{
	z-index: 115;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2934
{
	z-index: 120;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2936-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 22px;
}

#u2936-4
{
	z-index: 116;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2935-4
{
	z-index: 121;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#pu2956
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 35px;
}

#u2956
{
	z-index: 125;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2962
{
	z-index: 130;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2932-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 23px;
}

#u2932-4
{
	z-index: 126;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2997-4
{
	z-index: 131;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2994
{
	z-index: 2;
	height: 2801px;
	border-color: #000000;
	background-color: #22508D;
}

#u2994-bw
{
	z-index: 2;
	margin-top: -2739px;
	margin-bottom: -2739px;
	height: 2801px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

