.version.season_1 /* version checker */
{
	color: #0000F3;
	background-color: #7D06C8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2800.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#slideshowu1727
{
	z-index: 3;
	width: 0.01px;
	height: 474px;
	left: -100px;
	margin-top: 79px;
	position: relative;
}

#u1729
{
	position: absolute;
	width: 1220px;
	height: 474px;
	background-color: transparent;
}

#u1729popup
{
	z-index: 4;
}

#u1732
{
	z-index: 5;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1730
{
	z-index: 7;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1734
{
	z-index: 9;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u1772-4
{
	z-index: 26;
	width: 789px;
	min-height: 91px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	line-height: 88px;
	font-size: 80px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 115px;
	top: -474px;
	margin-bottom: -91px;
	position: relative;
}

#u1753
{
	z-index: 11;
	width: 980px;
	border-color: #000000;
	background-color: #2866A3;
	margin-left: 20px;
	top: -74px;
	margin-bottom: -74px;
	position: relative;
}

#u1753_position_content
{
	padding-top: 24px;
	padding-bottom: 50px;
}

#u1767-4
{
	z-index: 13;
	width: 980px;
	min-height: 44px;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #5CC3D8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u1770
{
	z-index: 21;
	width: 222px;
	height: 1px;
	border-color: #000000;
	background-color: #5CC3D8;
	margin-left: 379px;
	margin-top: 15px;
	position: relative;
}

#u1771-4
{
	z-index: 22;
	width: 771px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
	margin-left: 104px;
	margin-top: 19px;
	position: relative;
}

#u1764
{
	z-index: 12;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2870
{
	z-index: 30;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2872
{
	z-index: 35;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1768-4
{
	z-index: 17;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2871-4
{
	z-index: 31;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2873-4
{
	z-index: 36;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2874
{
	z-index: 40;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2876
{
	z-index: 45;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2878
{
	z-index: 50;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2875-4
{
	z-index: 41;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2877-4
{
	z-index: 46;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2879-4
{
	z-index: 51;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2880
{
	z-index: 55;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2882
{
	z-index: 60;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2884
{
	z-index: 65;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2881-4
{
	z-index: 56;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2883-4
{
	z-index: 61;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2885-4
{
	z-index: 66;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu2874,#pu2880,#pu2886
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 34px;
}

#u2886
{
	z-index: 70;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2888
{
	z-index: 75;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2890
{
	z-index: 80;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu1768-4,#pu2875-4,#pu2881-4,#pu2887-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 23px;
}

#u2887-4
{
	z-index: 71;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2889-4
{
	z-index: 76;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2891-4
{
	z-index: 81;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u2892
{
	z-index: 85;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2894
{
	z-index: 90;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2896
{
	z-index: 95;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2893-4
{
	z-index: 86;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2895-4
{
	z-index: 91;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2897-4
{
	z-index: 96;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu1764,#pu2892,#pu2898
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 35px;
}

#u2898
{
	z-index: 100;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2900
{
	z-index: 105;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2902
{
	z-index: 110;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2893-4,#pu2899-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 22px;
}

#u2899-4
{
	z-index: 101;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2901-4
{
	z-index: 106;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u2903-4
{
	z-index: 111;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu2913
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 75px;
}

#u2913
{
	z-index: 115;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2915
{
	z-index: 120;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2914-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 22px;
}

#u2914-4
{
	z-index: 116;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2916-4
{
	z-index: 121;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#pu2917
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 35px;
}

#u2917
{
	z-index: 125;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2919
{
	z-index: 130;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu2918-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 23px;
}

#u2918-4
{
	z-index: 126;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u2920-4
{
	z-index: 131;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u1726
{
	z-index: 2;
	height: 2801px;
	border-color: #000000;
	background-color: #22508D;
}

#u1726-bw
{
	z-index: 2;
	margin-top: -2739px;
	margin-bottom: -2739px;
	height: 2801px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

