.version.season_3 /* version checker */
{
	color: #0000E5;
	background-color: #41C8F5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2800.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#slideshowu3144
{
	z-index: 3;
	width: 0.01px;
	height: 474px;
	left: -100px;
	margin-top: 79px;
	position: relative;
}

#u3162
{
	position: absolute;
	width: 1220px;
	height: 474px;
	background-color: transparent;
}

#u3162popup
{
	z-index: 4;
}

#u3165
{
	z-index: 5;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3163
{
	z-index: 7;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3167
{
	z-index: 9;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3109-4
{
	z-index: 26;
	width: 789px;
	min-height: 91px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	line-height: 88px;
	font-size: 80px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 115px;
	top: -474px;
	margin-bottom: -91px;
	position: relative;
}

#u3179
{
	z-index: 11;
	width: 980px;
	border-color: #000000;
	background-color: #2866A3;
	margin-left: 20px;
	top: -74px;
	margin-bottom: -74px;
	position: relative;
}

#u3179_position_content
{
	padding-top: 24px;
	padding-bottom: 50px;
}

#u3136-4
{
	z-index: 13;
	width: 980px;
	min-height: 44px;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #5CC3D8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3141
{
	z-index: 21;
	width: 222px;
	height: 1px;
	border-color: #000000;
	background-color: #5CC3D8;
	margin-left: 379px;
	margin-top: 15px;
	position: relative;
}

#u3128-4
{
	z-index: 22;
	width: 771px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
	margin-left: 104px;
	margin-top: 19px;
	position: relative;
}

#u3108
{
	z-index: 12;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3116
{
	z-index: 30;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3180
{
	z-index: 35;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3119-4
{
	z-index: 17;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3138-4
{
	z-index: 31;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3176-4
{
	z-index: 36;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3130
{
	z-index: 40;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3133
{
	z-index: 45;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3182
{
	z-index: 50;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3121-4
{
	z-index: 41;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3171-4
{
	z-index: 46;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3118-4
{
	z-index: 51;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3129
{
	z-index: 55;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3174
{
	z-index: 60;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3117
{
	z-index: 65;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3142-4
{
	z-index: 56;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3126-4
{
	z-index: 61;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3135-4
{
	z-index: 66;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3130,#pu3129,#pu3183
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 34px;
}

#u3183
{
	z-index: 70;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3123
{
	z-index: 75;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3131
{
	z-index: 80;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3119-4,#pu3121-4,#pu3142-4,#pu3173-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 23px;
}

#u3173-4
{
	z-index: 71;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3124-4
{
	z-index: 76;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3115-4
{
	z-index: 81;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3170
{
	z-index: 85;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3181
{
	z-index: 90;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3178
{
	z-index: 95;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3177-4
{
	z-index: 86;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3111-4
{
	z-index: 91;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3127-4
{
	z-index: 96;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3108,#pu3170,#pu3120
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 35px;
}

#u3120
{
	z-index: 100;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3125
{
	z-index: 105;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3143
{
	z-index: 110;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3177-4,#pu3139-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 22px;
}

#u3139-4
{
	z-index: 101;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3122-4
{
	z-index: 106;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3132-4
{
	z-index: 111;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3137
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 75px;
}

#u3137
{
	z-index: 115;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3112
{
	z-index: 120;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3114-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 22px;
}

#u3114-4
{
	z-index: 116;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3113-4
{
	z-index: 121;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#pu3134
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 35px;
}

#u3134
{
	z-index: 125;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3140
{
	z-index: 130;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3110-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 23px;
}

#u3110-4
{
	z-index: 126;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3175-4
{
	z-index: 131;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3172
{
	z-index: 2;
	height: 2801px;
	border-color: #000000;
	background-color: #22508D;
}

#u3172-bw
{
	z-index: 2;
	margin-top: -2739px;
	margin-bottom: -2739px;
	height: 2801px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

