.version.season_2 /* version checker */
{
	color: #00001C;
	background-color: #DC9C4A;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 2800.999999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;
}

#slideshowu3233
{
	z-index: 3;
	width: 0.01px;
	height: 474px;
	left: -100px;
	margin-top: 79px;
	position: relative;
}

#u3251
{
	position: absolute;
	width: 1220px;
	height: 474px;
	background-color: transparent;
}

#u3251popup
{
	z-index: 4;
}

#u3254
{
	z-index: 5;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3252
{
	z-index: 7;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3256
{
	z-index: 9;
	width: 1220px;
	height: 474px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u3198-4
{
	z-index: 26;
	width: 789px;
	min-height: 91px;
	background-color: transparent;
	opacity: 0.37;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=37)";
	filter: alpha(opacity=37);
	line-height: 88px;
	font-size: 80px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 115px;
	top: -474px;
	margin-bottom: -91px;
	position: relative;
}

#u3268
{
	z-index: 11;
	width: 980px;
	border-color: #000000;
	background-color: #2866A3;
	margin-left: 20px;
	top: -74px;
	margin-bottom: -74px;
	position: relative;
}

#u3268_position_content
{
	padding-top: 24px;
	padding-bottom: 50px;
}

#u3225-4
{
	z-index: 13;
	width: 980px;
	min-height: 44px;
	background-color: transparent;
	line-height: 40px;
	font-size: 33px;
	text-align: center;
	color: #5CC3D8;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

#u3230
{
	z-index: 21;
	width: 222px;
	height: 1px;
	border-color: #000000;
	background-color: #5CC3D8;
	margin-left: 379px;
	margin-top: 15px;
	position: relative;
}

#u3217-4
{
	z-index: 22;
	width: 771px;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-style: normal;
	margin-left: 104px;
	margin-top: 19px;
	position: relative;
}

#u3197
{
	z-index: 12;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3205
{
	z-index: 30;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3269
{
	z-index: 35;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3208-4
{
	z-index: 17;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3227-4
{
	z-index: 31;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3265-4
{
	z-index: 36;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3219
{
	z-index: 40;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3222
{
	z-index: 45;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3271
{
	z-index: 50;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3210-4
{
	z-index: 41;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3260-4
{
	z-index: 46;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3207-4
{
	z-index: 51;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3218
{
	z-index: 55;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3263
{
	z-index: 60;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3206
{
	z-index: 65;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3231-4
{
	z-index: 56;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3215-4
{
	z-index: 61;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3224-4
{
	z-index: 66;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3219,#pu3218,#pu3272
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 34px;
}

#u3272
{
	z-index: 70;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3212
{
	z-index: 75;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3220
{
	z-index: 80;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3208-4,#pu3210-4,#pu3231-4,#pu3262-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 23px;
}

#u3262-4
{
	z-index: 71;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3213-4
{
	z-index: 76;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3204-4
{
	z-index: 81;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#u3259
{
	z-index: 85;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3270
{
	z-index: 90;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3267
{
	z-index: 95;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3266-4
{
	z-index: 86;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3200-4
{
	z-index: 91;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3216-4
{
	z-index: 96;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3197,#pu3259,#pu3209
{
	width: 0.01px;
	margin-left: 104px;
	margin-top: 35px;
}

#u3209
{
	z-index: 100;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3214
{
	z-index: 105;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3232
{
	z-index: 110;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 604px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3266-4,#pu3228-4
{
	width: 0.01px;
	margin-left: 48px;
	margin-top: 22px;
}

#u3228-4
{
	z-index: 101;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3211-4
{
	z-index: 106;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3221-4
{
	z-index: 111;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 604px;
}

#pu3226
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 75px;
}

#u3226
{
	z-index: 115;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3201
{
	z-index: 120;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3203-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 22px;
}

#u3203-4
{
	z-index: 116;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3202-4
{
	z-index: 121;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#pu3223
{
	width: 0.01px;
	margin-left: 255px;
	margin-top: 35px;
}

#u3223
{
	z-index: 125;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u3229
{
	z-index: 130;
	width: 167px;
	height: 167px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 302px;
	background: transparent url("../images/placeholder-u701-fr.jpg") no-repeat center center;
	background-size: cover;
}

#pu3199-4
{
	width: 0.01px;
	margin-left: 199px;
	margin-top: 23px;
}

#u3199-4
{
	z-index: 126;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u3264-4
{
	z-index: 131;
	width: 280px;
	min-height: 30px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u3261
{
	z-index: 2;
	height: 2801px;
	border-color: #000000;
	background-color: #22508D;
}

#u3261-bw
{
	z-index: 2;
	margin-top: -2739px;
	margin-bottom: -2739px;
	height: 2801px;
}

body
{
	position: relative;
	min-width: 1020px;
}

#page .verticalspacer
{
	clear: both;
}

